doctype html
html
  head
    title #{title}

  body
    h1= title
    p= content
    p Here's a complete list of items currently on Contentful:
      ul
        each title in list
          li= title
